
.image_position {
	position: absolute;
    top: 10px;
    left: 268px;
}

.imagen_principal {
	
}

#pie {
		clear: both;
		/*position: relative; */
		display: block !important;
		left: 30%; 
		text-align: center;
		bottom: 0; 
		height: 3em;
	}

label.error {
    color: #FB3A3A;
    display: inline-block;
    margin: 4px 0 5px 100px;
    padding: 0;
    text-align: left;
    width: 220px;
}

#bodega, #proveedor, #entrada, #articulo {
	display: block !important;
	margin: -30px 0 5px 0px;
    visibility: hidden;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:12px;
    right:16px;
    display:none;
    text-indent:-9999px;
    background:  url('../../media/icon_top.png') no-repeat;
}

#wait {
	display:none;
	width:69px;
	height:89px;
	border:0px solid black;
	position:absolute;
	top:50%;
	left:50%;
	padding:2px;
}


